<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}

        <p>This site was created by Izra. It uses data from mapbox and weatherstack. Here is a bonus for using this web.</p>

        <img class="portrait" src="/images/underwater-blobfish.jpg">

        <p>A {{name}}.</p>
        </div>

        {{>footer}}
    </body>
</html>